.MainGrid {
  width: 75%;
  margin: 50px auto;
  border: 1px solid gray;
  color: #fff;
  display: grid;
  grid-template-rows: 400px;
  grid-template-columns: 265px 305px;
}

.button {
  border: none;
  color: white;
  height: 130px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 2px solid #000000;
}

.gridNumber {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 33%);
}

.active {
  background-color: green;
}

.Notactive {
  background-color: white;
}
